Repository it-at-m/dbs, pull requests merged in 2025-09, with the labels that each got.

#92 feat(ticketing-eventing): init eventing-service
  .github/labeler.yml
  .github/workflows/codeql.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .run/DbsTicketingEventingService.run.xml
  README.md
  ticketing-eventing/README.md
  ticketing-eventing/eventing-service/Dockerfile
  ticketing-eventing/eventing-service/pom.xml
  ticketing-eventing/eventing-service/runLocal.bat
  ticketing-eventing/eventing-service/runLocal.sh
  ticketing-eventing/eventing-service/runLocalNoSecurity.bat
  ticketing-eventing/eventing-service/runLocalNoSecurity.sh
  ticketing-eventing/eventing-service/spotbugs-exclude-rules.xml
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/DbsTicketingEventingService.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/adapter/in/rest/EventDTO.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/adapter/in/rest/EventMapper.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/adapter/in/rest/RestAdapter.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/adapter/out/streaming/StreamingAdapter.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/configuration/DbsEventingProperties.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/configuration/OpenAPIDocumentationConfiguration.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/configuration/OpenAPIProperties.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/configuration/security/NoSecurityConfiguration.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/configuration/security/SecurityConfiguration.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/core/port/in/HandleEventInPort.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/core/port/out/SendEventOutPort.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/core/usecase/HandleEventUseCase.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/domain/exception/MessageOutException.java
  ticketing-eventing/eventing-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/service/domain/model/Event.java
  ticketing-eventing/eventing-service/src/main/resources/application-local.yml
  ticketing-eventing/eventing-service/src/main/resources/application.yml
  ticketing-eventing/eventing-service/src/main/resources/banner.txt
  ticketing-eventing/eventing-service/src/test/java/de/muenchen/oss/dbs/ticketing/eventing/service/E2ETest.java
  ticketing-eventing/eventing-service/src/test/java/de/muenchen/oss/dbs/ticketing/eventing/service/TestConstants.java
  ticketing-eventing/eventing-service/src/test/java/de/muenchen/oss/dbs/ticketing/eventing/service/adapter/in/rest/EventMapperTest.java
  ticketing-eventing/eventing-service/src/test/resources/application-test.yml
  ticketing-eventing/stack/docker-compose.yml
Labels: Type: Feature, Component: ticketing-eventing

#95 feat(ticketing-eai/client-internal): init
  .github/labeler.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  ticketing-eai/README.md
  ticketing-eai/api-client-internal/pom.xml
  ticketing-eai/api-client-internal/src/main/java/de/muenchen/oss/dbs/ticketing/eai/client/ApiClientAutoConfiguration.java
  ticketing-eai/api-client-internal/src/main/java/de/muenchen/oss/dbs/ticketing/eai/client/ApiClientProperties.java
  ticketing-eai/api-client-internal/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  ticketing-eai/api-client-internal/src/main/resources/api-spec-internal-without-security.json
  ticketing-eai/api-client-internal/src/main/resources/api-spec-internal.json
Labels: Type: Feature, Component: ticketing-eai

#96 feat(ticketing-eventing): init handler-core lib
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  ticketing-eventing/handler-core/pom.xml
  ticketing-eventing/handler-core/spotbugs-exclude-rules.xml
  ticketing-eventing/handler-core/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/handlercore/HandlerCoreAutoConfiguration.java
  ticketing-eventing/handler-core/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/handlercore/adapter/in/StreamingInAdapter.java
  ticketing-eventing/handler-core/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/handlercore/adapter/out/zammad/ZammadAdapter.java
  ticketing-eventing/handler-core/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/handlercore/adapter/out/zammad/ZammadApiException.java
  ticketing-eventing/handler-core/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/handlercore/application/port/in/EventHandlerInPort.java
  ticketing-eventing/handler-core/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/handlercore/application/port/out/TicketingOutPort.java
  ticketing-eventing/handler-core/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/handlercore/domain/model/Event.java
  ticketing-eventing/handler-core/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: Type: Feature, Component: ticketing-eventing

#110 Feature/initial accept checklist
  personalization-service/src/main/java/de/muenchen/dbs/personalization/configuration/P13nConfiguration.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/configuration/SecurityConfiguration.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/servicenavigator/PublicServiceNavigatorController.java
  personalization-service/src/main/resources/application-local.yml
  personalization-service/src/test/java/de/muenchen/dbs/personalization/IntegrationTestBase.java
  personalization-service/src/test/resources/application-test.yml
  personalization-webcomponents/.env.development
  personalization-webcomponents/.env.production
  personalization-webcomponents/index-checklist-preview.html
  personalization-webcomponents/index.html
  personalization-webcomponents/src/api/servicenavigator/ServiceNavigatorLookup.ts
  personalization-webcomponents/src/api/servicenavigator/ServiceNavigatorResult.ts
  personalization-webcomponents/src/checklist-preview-webcomponent.ts
  personalization-webcomponents/src/checklist-preview.ce.vue
  personalization-webcomponents/src/personalization-hello-world-webcomponent.ce.vue
  personalization-webcomponents/src/personalization-hello-world-webcomponent.ts
  personalization-webcomponents/src/util/constants.ts
  personalization-webcomponents/vite.config.ts
  stack/docker-compose.yml
  stack/keycloak/migration/02_add-clients.yml
Labels: Template: personalization-service, Type: Feature

#108 feat(ticketing-eventing/mail-handler-service): init
  .github/workflows/codeql.yml
  .github/workflows/maven-node-build.yml
  .github/workflows/maven-release.yml
  .gitignore
  .run/DbsTicketingEventingMailHandlerService.run.xml
  ticketing-eventing/mail-handler-service/Dockerfile
  ticketing-eventing/mail-handler-service/pom.xml
  ticketing-eventing/mail-handler-service/runLocal.bat
  ticketing-eventing/mail-handler-service/runLocal.sh
  ticketing-eventing/mail-handler-service/runLocalNoSecurity.bat
  ticketing-eventing/mail-handler-service/runLocalNoSecurity.sh
  ticketing-eventing/mail-handler-service/spotbugs-exclude-rules.xml
  ticketing-eventing/mail-handler-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/mailhandler/DbsTicketingEventingMailHandlerService.java
  ticketing-eventing/mail-handler-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/mailhandler/adapter/out/mail/MailAdapter.java
  ticketing-eventing/mail-handler-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/mailhandler/application/port/out/SendMailOutPort.java
  ticketing-eventing/mail-handler-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/mailhandler/application/usecase/EventHandlingUseCase.java
  ticketing-eventing/mail-handler-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/mailhandler/config/MailHandlerProperties.java
  ticketing-eventing/mail-handler-service/src/main/resources/application-local.yml
  ticketing-eventing/mail-handler-service/src/main/resources/application.yml
  ticketing-eventing/mail-handler-service/src/main/resources/banner.txt
Labels: Type: Feature, Component: ticketing-eventing

#113 :bug: fix mismatched config between local dev env and deployed env
  personalization-webcomponents/src/checklist-preview.ce.vue
  stack/docker-compose.yml
Labels: Type: Bug

#115 fix(ticketing-eventing/mail-handler-service): missing mail from
  ticketing-eventing/mail-handler-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/mailhandler/adapter/out/mail/MailAdapter.java
  ticketing-eventing/mail-handler-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/mailhandler/adapter/out/mail/MailProperties.java
  ticketing-eventing/mail-handler-service/src/main/resources/application.yml
Labels: Component: ticketing-eventing

#117 Feature/p13n checklist preview no result
  personalization-webcomponents/src/ChecklistPreview.ce.vue
  personalization-webcomponents/src/util/Constants.ts
Labels: Type: Feature

#146 Bug/fix html mail
  ticketing-eventing/README.md
  ticketing-eventing/eventing-service/src/main/resources/application-local.yml
  ticketing-eventing/mail-handler-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/mailhandler/adapter/out/mail/MailAdapter.java
  ticketing-eventing/mail-handler-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/mailhandler/application/usecase/EventHandlingUseCase.java
Labels: Type: Bug, Component: ticketing-eventing

#154 added new field sende_nachricht_nach_extern to TicketInternal
  ticketing-eai/api-client-internal/src/main/resources/api-spec-internal-without-security.json
  ticketing-eai/api-client-internal/src/main/resources/api-spec-internal.json
Labels: Type: Feature, Component: ticketing-eai

#155 Feature/finalize preview wc
  .github/workflows/pr-checklist.yml
  bruno/DBS-P13N/APIGW Create Checklist.bru
  bruno/DBS-P13N/Get Checklist with ID.bru
  bruno/DBS-P13N/Get Checklists.bru
  bruno/DBS-P13N/Get UserInfo.bru
  personalization-service/src/main/resources/application-local.yml
  personalization-service/src/main/resources/db/migration/testdata/R__Testdata.sql
  personalization-webcomponents/index-checklist-detail.html
  personalization-webcomponents/index-checklist-overview.html
  personalization-webcomponents/index-checklist-preview.html
  personalization-webcomponents/index-my-checklists.html
  personalization-webcomponents/package-lock.json
  personalization-webcomponents/package.json
  personalization-webcomponents/src/ChecklistPreview.ce.vue
  personalization-webcomponents/src/components/ServiceInfoModal.vue
  personalization-webcomponents/src/composables/DBSLoginWebcomponentPlugin.ts
  personalization-webcomponents/src/types/AuthorizationEventDetails.ts
  personalization-webcomponents/src/util/Constants.ts
  stack/keycloak/migration/01_init-realm.yml
  stack/keycloak/migration/02_add-clients.yml
  stack/keycloak/migration/04_add-users.yml
Labels: Template: personalization-service, Type: Feature

#185 Fix/adapt mail for postkorb
  ticketing-eventing/mail-handler-service/pom.xml
  ticketing-eventing/mail-handler-service/src/main/java/de/muenchen/oss/dbs/ticketing/eventing/mailhandler/adapter/out/mail/MailAdapter.java
Labels: Type: Bug, Component: ticketing-eventing

#184 feature/lebenslage-id-in-backend
  personalization-service/src/main/java/de/muenchen/dbs/personalization/checklist/ChecklistRepository.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/checklist/ChecklistService.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/checklist/domain/Checklist.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/checklist/domain/ChecklistCreateDTO.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/checklist/domain/ChecklistReadDTO.java
  personalization-service/src/main/resources/db/migration/schema/V002__1__issue-183__add_situation_id_to_checklist.sql
  personalization-service/src/test/java/de/muenchen/dbs/personalization/checklist/ChecklistIntegrationTest.java
  personalization-service/src/test/java/de/muenchen/dbs/personalization/checklist/ChecklistMapperTest.java
  personalization-service/src/test/java/de/muenchen/dbs/personalization/checklist/ChecklistServiceTest.java
  personalization-service/src/test/java/de/muenchen/dbs/personalization/configuration/UnicodeConfigurationTest.java
  personalization-webcomponents/src/ChecklistPreview.ce.vue
  personalization-webcomponents/src/api/persservice/Checklist.ts
  personalization-webcomponents/src/components/ChecklistCard.vue
  personalization-webcomponents/src/components/ChecklistHeader.vue
  personalization-webcomponents/src/util/Constants.ts
Labels: Type: Feature, Component: personalization-service, Component: personalization-webcomponents

#187 Muxdbs 100 feedback
  personalization-webcomponents/src/ChecklistDetail.ce.vue
  personalization-webcomponents/src/components/ChecklistList.vue
  personalization-webcomponents/src/components/P13nCheckbox.vue
Labels: Component: personalization-webcomponents

#205 💄 Muxdbs 96 and 345 review feedback and login
  personalization-webcomponents/src/ChecklistOverview.ce.vue
  personalization-webcomponents/src/components/ChecklistCard.vue
Labels: Component: personalization-webcomponents

#176 Expand backend kaptara
  personalization-service/src/main/java/de/muenchen/dbs/personalization/checklist/ChecklistController.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/checklist/ChecklistService.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/checklist/domain/ChecklistItemServiceNavigatorDTO.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/checklist/domain/ChecklistMapper.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/checklist/domain/ChecklistServiceNavigatorReadDTO.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/checklist/domain/OnlineServiceDTO.java
  personalization-service/src/main/java/de/muenchen/dbs/personalization/servicenavigator/ServiceNavigatorService.java
  personalization-service/src/main/resources/db/migration/testdata/R__Testdata.sql
  personalization-service/src/test/java/de/muenchen/dbs/personalization/checklist/ChecklistIntegrationTest.java
  personalization-service/src/test/java/de/muenchen/dbs/personalization/checklist/ChecklistServiceTest.java
Labels: Template: personalization-service, Component: personalization-service
